<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <!--- Header --->
    <div class="navbar">
                
        <div class="navbar">
            <p><a href = "/">
            <img src="SimplyTasty/img/logonobg.png" width="100" height="auto">
            </p></a>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/OurMenu"><li>Our Menu</li></a>
                    <a href="/Cart"><li>Cart</li></a>
                    <a href="/login"><li>Account</li></a>
                </ul>
        </div>
    </div>


    <!--Main Page Content-->

        <div class="ourMenuSize2">
            <h1 style="font-size:50px;">ERROR 404 PAGE NOT FOUND :(</h1> 
        </div>
    
        


            
    </body>
    
</html>
