<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <!--- Header --->
    <div class="navbar">
        <p><a href = "/">
        <img src="SimplyTasty/img/logonobg.png" width="100" height="auto">
        </p></a>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/OurMenu"><li>Our Menu</li></a>
                <a href="/Cart"><li style="color: #CE4826;">Cart</li></a>
                <a href="/login"><li>Account</li></a>
                </ul>
        </div>
    </div>
        <div class="ourMenuSize">
            <h1 style="font-size:50px;">CHECKOUT</h1> 
    </div>
        </div>
    </header>

    <!--Main Page Content-->
    <div class="orderSummaryContainer">
     <div class="text" >ORDER SUMMARY</div>      
       </div>
    </div>
    <div class ="ordersummary">ITEMS</div> 
         <div class ="demobox">
          <div class = table> 
            <table>
               <tr>
                   <td>PRICE</td>
                   <td>00.00
                   </td>
               </tr>
               <tr>
                <td>DELIVERY</td>
                <td>00.00
                </td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>00.00
                </td>
            </tr>
           </table>
     </div>
    </div>
 
     <div class="PAYMENT-BUTTON">
        <a href="/ContanctAndShippingDetails">  <button class="PM-BUTTON"> CONTACT AND SHIPPING DETAILS</button></a>
      </div>
     
     
</body>
    
    
</html>