<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <!--- Header --->
    <header>
        <div class="navbar">
            <p><a href = "/">
            <img src="SimplyTasty/img/logonobg.png" width="100" height="auto">
            </p></a>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/OurMenu"><li>Our Menu</li></a>
                    <a href="/Cart"><li style="color: #CE4826;">Cart</li></a>
                    <a href="/login"><li>Account</li></a>
                    </ul>
            </div>
        </div>
        <div class="ourMenuSize">
            <h1>CONTACT & SHIPPING DETAILS</h1> 
    </div>
    </header>

    <!--Main Page Content-->
    <form action="/PaymentDetails">
            <div class="C-SInfo">
            <div class="text" >SHIPPING ADDRESS</div>
            <div class="text-input">
                <input type="text" placeholder="FIRST NAME" required maxlength="50">
            </div>
        </br>
            <div class="text-input">
                <input type="text" placeholder="LAST NAME" required maxlength="50">
            </div>
        </br>
            <div class="text-input-addr">
                <input type="text" placeholder="ADDRESS"required maxlength="50">
            </div>
        </div>
        <div class="container-ci">
            <div class="text-ci" >CONTACT INFORMATION</div>
                <div class="text-input">
                 <input type="text" placeholder="EMAIL" required maxlength="50">
                </div>
        </br>
                <div class="text-input">
                    <input type="text" placeholder="CONTACT NUMBER" required maxlength="50">
                </div>
              <div class="PAYMENT-BUTTON">
                <a href="/PaymentDetails"><button class="PM-BUTTON"> PAYMENT DETAILS</button></a>
            </div>
        </div>
            </div>
        </form>
    
        
        </body>
        
</html>