<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <!--- Header --->
    <header>
        <div class="navbar">
            <p><a href = "/">
            <img src="SimplyTasty/img/logonobg.png" width="100" height="auto">
            </p></a>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/OurMenu"><li>Our Menu</li></a>
                    <a href="/Cart"><li>Cart</li></a>
                    <a href="/login"><li style="color: #CE4826;">Account</li></a>
                </ul>
        </div>
    </div>
    </header>

    
    <!--Main Page Content-->   
    <p id="EnterNewPwMsg">Please Enter a new Password for your account. </p>

    <div class="text-center mt-5">
        <form style="max-width:400px;margin:auto" >

            <label for="password" class="sr-only"></label>
            <input type="password" id="newpassword" class="form-control" placeholder="Enter New Password">

            <label for="password" class="sr-only"></label>
            <input type="password" id="cnewpassword" class="form-control" placeholder="Re-Enter New Password">


            <div class="mt-4">
                <button id="ResetPwBtn" class="btn btn-md btn-primary" onclick="validateResetPassword()" type="reset"><b>RESET PASSWORD</b></button>
            </div>



        </form>

    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
</body>
    
</html>
