<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <!--- Header --->
    <header>
        <div class="navbar">
                <p><a href = "/">
                <img src="SimplyTasty/img/logonobg.png" width="100" height="auto">
                </p></a>
                    <ul>
                        <a href="/"><li style="color: #CE4826;">Home</li></a>
                        <a href="/OurMenu"><li>Our Menu</li></a>
                        <a href="/Cart"><li>Cart</li></a>
                        <a href="/login"><li>Account</li></a>
                    </ul>
            </div>
        </div>
    </header>

    <!--Main Page Content-->

        <div class="ourMenuSize2">
            <h1 style="font-size:50px;"><strong>CHECK OUT OUR BEST SELLERS</strong></h1> 
        </div>
    
        
        <a href="/OurMenu"><img id="mainBanner" src="SimplyTasty/img/homeBanner1.png" width="1000" height="auto"> <br></a>

        <div class="miniBanner">
            <a href="/OurMenu">
                <img id="img2" src="SimplyTasty/img/homeBanner1.png">
                <img id="img3" src="SimplyTasty/img/homeBanner3.png">
                <img id="img4" src="SimplyTasty/img/homeBanner4.png">
            </a>
        </div>

        <div class="aboutUs">
            <H1>ABOUT US</H1>
        </div>


        <p id="aboutUsDesc">Simply Tasty's begginings started in 2022 after the ongoing pandemic subsisded low <br>
        enough where business can operate, we decided to open our own food business. The <br>
        Restaurant started serving mixed foods you can find in different cultures. In hopes of <br>
        being profecient and honing the different kinds of skills that are involve in the process of <br>
        creating the cuisine</p>


        <div class="footer">
            <h2>Contact us:</h2>
            <p id="contactUs">EMAIL:simplytasty2022@gmail.com <br>
            PHONE:09166168765</p>
        </div>
            
    </body>
    
</html>
