<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <!--- Header --->
    <header>
        <div class="navbar">
            <p><a href = "/">
            <img src="SimplyTasty/img/logonobg.png" width="100" height="auto">
            </p></a>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/OurMenu"><li>Our Menu</li></a>
                    <a href="/Cart"><li style="color: #CE4826;">Cart</li></a>
                    <a href="/login"><li>Account</li></a>
                </ul>
        </div>
    </div>
        <div class="ourMenuSize">
            <h1 style="font-size:50px;">PAYMENT DETAILS</h1>
    </div>
        </div>
    </header>

    <!--Main Page Content-->
    <form action="/PlaceOrder">
        <div class="text-ci">
                <input type="radio" class="big" name="mode" required>
               <label for="">GCASH INFO</label><br>
            </div>
            <div class="text-input">
                <input type="text" placeholder="GCASH NAME" required>
            </div>
        </br>
            <div class="text-input">
                <input type="text" placeholder="GCASH NUMBER" required>
            </div>
        </div>
            <center><img src="SimplyTasty/img/GCASHQR.jpg" width="300" height="auto"></center>
                <div class="text-ci">
                        <input type="radio" class="big"  name="mode" required>
                       <label for="">CASH ON DELIVERY</label><br>
                    </div>
                    <div class="PAYMENT-BUTTON">
                      <a href="/PlaceOrder">  <button class="PM-BUTTON"> PLACE ORDER</button></a>
                    </div>
                </div>
            </form>
            </body>
    </html>