<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <!--- Header --->
    <header>
        <div class="navbar">
            <p><a href = "/">
            <img src="SimplyTasty/img/logonobg.png" width="100" height="auto">
            </p></a>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/OurMenu"><li>Our Menu</li></a>
                    <a href="/Cart"><li style="color: #CE4826;">Cart</li></a>
                    <a href="/login"><li>Account</li></a>
                </ul>
        </div>
    </div>
        <div class="ourMenuSize">
            <h1 style="font-size:50px;">PLACE ORDER</h1>
    </div>
        </div>
    </header>

    <!--Main Page Content-->

     <div class = "thankyou">
         <h1>THANK YOU FOR SHOPPING</h1> 
         <h1> WITH US!</h1>
         <h1>YOUR ODRER WILL ARRIVE</h1>
            <h1>INFRONT OF YOUR HOUSE SOON</h1>
    </div>
            
    </body>
    
</html>